<h1>Bookmarks#index</h1>
<p>Find me in app/views/bookmarks/index.html.erb</p>

<% if @bookmarks.empty? %>
<p>

  You have not added anything to your Wishlist yet.
</p>

<% else %>
<p>You have nookmarked</p>
<% @bookmarks.each do |bookmark| %>
<li>

<%= bookmark.venue.name %> in
<%= bookmark.venue.location %>, by
<%= bookmark.user.profile.first_name %>
<%= bookmark.user.profile.last_name %>
</li>

  <%= link_to venue_path(bookmark.venue) do %>
  <% if bookmark.venue.photos.first %>
    <%= cl_image_tag bookmark.venue.photos.first.path %>
  <% end %>
  <% end %>
  <%= link_to "Remove from your Wishlist", bookmark_path(bookmark), method: :delete %>
<% end %>
<% end %>
