<h1>All your listings</h1>
<% @profile.user.venues.each do |venue| %>
Name: <%= venue.name %>,
Location: <%= venue.location %>,
Price: <%= venue.price %>,
<% unless venue.photos.first.nil? %>
<%= cl_image_tag venue.photos.first.path %>
<%= link_to "Edit", edit_venue_path(venue) %>
<%= link_to "Destroy", venue_path(venue), method: :delete %>
<p>Add here further details</p>
<% end %>
<% end %>

