<div class="profile-card">
  <h1>Profile</h1>
  <br>
  <h3>Profile Photo:</h2>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url %>
  <br>
  <h3>Basic Information:</h2>
  <br>
  <p>First Name:
  <%= @profile.first_name %>
  <br>
  Last Name:
  <%= @profile.last_name %>
  <br>
  Personal description:
  <%= @profile.bio %>
  </p>
  <br>
  <%= link_to "Edit Your Profile", edit_profile_path, class: "btn-normal"%>


  <br>
  <%= link_to "Show Your Bookings", bookings_path, class: "btn-red"%>

  <br>
  <%= link_to "List Your Venue", new_venue_path, class: "btn-red"%>

</div>
