<div class="profile-card">
<br>
  <h1>Your Profile</h1>
  <br>
  <h3>Profile Photo:</h2>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url %>
  <br>
  <h3>Basic Information:</h2>
  <br>
  <p>First Name:
  <%= @profile.first_name %>
  <br>
  Last Name:
  <%= @profile.last_name %>
  <br>
  Personal description:
  <%= @profile.bio %>
  </p>
  <h3>Your Bookings:</h3>
  <p> Nothing so far </p>
  <br>
  <br>
 <%= link_to "List a Venue", new_venue_path, class: "btn-profile"%>
 <%= link_to "Edit Profile", edit_profile_path, class: "btn-profile"%>
 <%= link_to "List your Bookings", class: "btn-profile"%>
 <br>
 <br>
</div>
