<div class="profile-card">
  <h1>Profile</h1>
  <br>
  <h3>Profile Photo:</h2>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url %>
  <br>
  <h3>Basic Information:</h2>
  <br>
  <p>First Name:
  <%= @profile.first_name %>
  <br>
  Last Name:
  <%= @profile.last_name %>
  <br>
  Personal description:
  <%= @profile.bio %>
  </p>
  <h3>Your Bookings:</h3>
  <br>

  <%= link_to "List your Venue", new_venue_path, class: "btn-profile"%>

  <%= link_to "Update your profile", edit_profile_path, class: "btn btn-danger"%>
</div>
