
<h1>Your bookings </h1>

<table id="t01">
<% @bookings.each do |booking| %>
<tr>
  <td> <%= booking.venue.photo %></td>
  <td style="padding:20px"><%= link_to booking.venue.name, venues_path, class: "venue-title" %></td>
  <td> in <%= booking.venue.location %></td>
  <td> Booking status: <%= booking.status %><td>
  <td> Price: <%= booking.venue.price %> € per hour</td>
  <td> Total price: <%= booking.total_price %> €</td>
  <% if booking.status == "accepted" %>
  <td> <%= link_to 'Add review', new_profile_booking_review_path(@profile, booking), class: "btn-red" %></td>
  <% end %>

</tr>
<% end %>
</table>


<%= link_to 'Go Back', venues_path, class: "btn-normal" %>
