<% content_for :title, "Your Bookings" %>

<hr>

<div class="page-container">
  <div class="container-index-booking">
    <h1 style= "text-align: center">Your Bookings </h1>
    <hr>
    <hr>
    <div class="row">
  <% @bookings.each_with_index do |booking, index| %>
    <%= render 'modals/new_review', review: @review, booking: booking, index: index %>

      <div class="col-xs-12 col-sm-4">
        <div class="booking-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path booking.venue.photos.first.path if booking.venue.photos.first %>')">
          <%= cl_image_tag booking.venue.owner.profile.photo.path, class: 'card-user' if booking.venue.owner.profile.photo %>

          <div class="booking-card-description">
              <h2><%= booking.venue.location %></h2>
              <p class="description-2"><%= booking.venue.name %></p>
              <p class="description-2" style="font-size: 15px">
              <%= booking.start_date.strftime("%b %d") if booking.start_date %> - <%= booking.end_date.strftime("%b %d") if booking.end_date %><br>
              <strong>Duration: <%= booking.hours.to_i %> hours<br></strong>
              <strong>Total price: <%= booking.total_price.to_i %> €</strong></p>
              <p class="description-2" style="font-size: 15px">Booking status: <%= booking.status %></p>
              <% if booking.status == "accepted" %>


              <% if policy(@review).create? %>
                <button type="button" class="btn-normal" style= "background: transparent;" data-toggle="modal" data-target="#new_review_modal<%= index %>">
                  Add Review
                </button>
              <% else %>
                You've already left a review for <%= booking.venue.name %>
              <% end %>

              <% end %>
          </div>
          <%= link_to booking.venue.name, venue_path(booking.venue), class: "card-link" %>
        </div>
      </div>
  <% end %>
    </div>
</div>
</div>


