
<h1>All your bookings </h1>



<% if current_user.venues.present? %>
<h1>This is all the bookings on your flats</h1>
<% current_user.venues.to_a.each do |venue| %>
<ul>
  <li>
  <%= venue.name %>
   <%= venue.location %>
   <%= venue.price %>
   </li>
   <% venue.bookings.each do |booking| %>
    <ul>
     <li> <%= booking.user.profile.first_name %> <%= booking.user.profile.last_name %></li>
    </ul>
    <% end %>
 </ul>
<% end %>
<% end %>


<h1>This is what you have booked</h1>
<% @bookings.each do |booking| %>
<li>

  <%= booking.venue.location %> for a max of
  <%= booking.venue.capacity %> people,
  Bio: <%= booking.venue.description %>,
  <%= booking.venue.price %> € per hour,
  <%= booking.status %>
  <%= booking.total_price %> (still need to do a method for total price here) <p></p>
</li>

<% end %>


<%= link_to 'Go Back', venues_path, class: "btn-normal" %>
