
<h1>All your bookings </h1>






<h1>This is what you have booked</h1>
<% @bookings.each do |booking| %>
<li>

  <%= booking.venue.location %> for a max of
  <%= booking.venue.capacity %> people,
  Bio: <%= booking.venue.description %>,
  <%= booking.venue.price %> € per hour,
  <%= booking.status %>
  <%= booking.total_price %> (still need to do a method for total price here) <p></p>
</li>

<% end %>


<%= link_to 'Go Back', venues_path, class: "btn-normal" %>
