<div class="text-center">
  <h1>Book this place</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">


<%=form_for([@venue, @booking]) do |f| %>


  <%= f.label :hours %>
  <%= f.number_field :hours %>

  <%= f.submit %>
<% end %>


 <%= link_to 'Go Back', venues_path, class: "btn btn-danger" %>


    </div>
  </div>
</div>

<%= form_for(@booking) do |f| %>

  <%= f.label :total_price %>
  <%= f.text_field :total_price %>

  <%= f.submit %>
<% end %>
