<div class="text-center">
  <h1>Book this place</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">


<%=simple_form_for([@venue, @booking]) do |f| %>

  <%= f.label :hours %>
  <%= f.number_field :hours %>

  <%= f.label :start_date %>
  <%= f.text_field :start_date, class: "consumer-request datepick request-time" %>


<%= f.label :end_date %>
<%= f.text_field :end_date, class: "timepicker-default request-time", id: "basicExample" %>
  <%= f.submit %>
<% end %>


 <%= link_to 'Go Back', venues_path, class: "btn btn-danger" %>

<% if policy(Booking).create? %>
  <%= new_venue_booking_path %>
<% end %>


    </div>
  </div>
</div>
