<% content_for :title, "Manage Bookings" %>

<hr>
<h1 style="text-align: center">Manage the bookings for your venues</h1>
<br>
<% if @bookings.any? %>

  <div class="row">

    <% @bookings.each do |booking| %>
    <% venue = booking.venue %>
    <div class="col-xs-12 col-sm-4">
      <div class="card_2" style="height: 440px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path venue.photos.first.path if venue.photos.first %>');">
        <div class="card-category-2" style="color: white; text-transform: uppercase; padding: 10px">
          <%= venue.location %>
        </div>
        <div class="d-flex justify-center">
          <%= cl_image_tag booking.user.profile.photo.path, class: 'card-user-wishlist' if booking.user.profile.photo %>
        </div>
        <div class="card-description-title" style="padding-top: 40px; padding-bottom: 192px; text-align: center;">
          <div style="font-size: 30px; margin-top: 175px">
            <%= venue.name %>
          </div>
          <%= booking.user.profile.first_name %> <%= booking.user.profile.last_name%>
          <br>
          <%=booking.user.email%>
          <br>
          <%= booking.start_date %> - <%= booking.end_date %>
          <br>
          Price: <%= booking.total_price %>
          <br>
          <%= booking.status %>
          <br>
          <div class="btn-normal", style="width: 120px; margin-left: 35px">
            <%= link_to "Accept", accept_profile_booking_path(@profile, booking), style: "text-decoration: none !important; color: black"%>
          </div>
          <div class="btn-normal", style="width: 120px; margin-left: 175px; margin-top: -47px">
            <%= link_to "Decline", decline_profile_booking_path(@profile, booking), style: "text-decoration: none !important; color: black"%>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>





