 <h1>All your bookings </h1>


<% if current_user.venues.present? %>
<h1>This is all the bookings on your flats</h1>

<% current_user.venues.each do |venue| %>
<ul>
  <li>
  <%= venue.name %> - <%= venue.location %>
   </li>
   <% venue.bookings.each do |booking| %>
      <p> booked by <%=booking.user.profile.first_name%>
        <br>
        <%= link_to profile_path(booking.user.profile) do %>

        <%#@ mettre avatar %>
       <%#= image_tag ..... %>

        <% end %>

      <%= booking.status %>,
      <%= link_to "Accept", accept_profile_booking_path(@profile, booking) %>
      <%= link_to "Decline", decline_profile_booking_path(@profile, booking) %>
   <%= booking.total_price %> €
    <ul>

     <li>  </li>
    </ul>
    <% end %>
 </ul>
<% end %>
<% end %>


the date of the booking


