<h2>booking show</h2>
  <%= @booking.venue.name %>
    <%= @booking.venue.location %>
   <%= @booking.total_price %>
   <%= @booking.start_date %>

  <%= link_to "Edit your booking",  edit_profile_booking_path(@booking)  %>
  <%= link_to "Book another event", venues_path %>


