
<h2>Your booking request for  <%= @booking.venue.name %>
was successful</h2>
<p> We contacted the host. You should get the booking confirmation within the next three days!</p>
<p> Booking overview:</p>
<li> Name: <%= @booking.venue.name %></li>
<li> Location: <%= @booking.venue.location %></li>
<li> Price per Hour: <%=@booking.price%></li>
<li> Total numbers of hours: <%= @booking.hours %></li>
<li> Total price: <%= @booking.total_price %></li>
<li> Status: <%= @booking.status %></li>
<hr>

  <%= link_to "Edit your booking",  edit_profile_booking_path(@booking), class: "btn-red w3-block"%>
  <%= link_to "Look for other venues", venues_path, class: "btn-red w3-block" %>


