<div class="navbar-home">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_white.png" %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">
    <% if !user_signed_in? %>

      <% if policy(Venue).create? %>
       <button type="button" class="btn-red" data-toggle="modal" data-target="#sign_up_modal">
        List Your Venue
       </button>
      <% end %>
        <button type="button" class="btn-navbar" data-toggle="modal" data-target="#sign_up_modal">
          Sign Up
        </button>
        <button type="button" class="btn-navbar" data-toggle="modal" data-target="#log_in_modal">
          Log in
        </button>
    <% else %>

      <% if policy(Venue).create? %>

<%= link_to "List Your Venue", {:action => "new", :controller => "venues"}, {class: 'btn-red'} %>

      <% end %>

      <% if current_user.profile %>
        <%= link_to "Go to Profile", profile_path(current_user.profile), class: "btn-navbar" %>
      <% else %>
        <%= link_to "Create Profile", new_profile_path, class: "btn-navbar" %>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete, style: "text-decoration: none !important" do %>
        <p class="btn-navbar", style="text-decoration: none !important; "> <%= t(".sign_out", default: "Log out") %></p>
      <% end %>
    <% end %>
  </div>
</div>




