<div class="navbar-home">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo_white.png" %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">
  <% if !user_signed_in? %>

   <%= link_to "List your Venue", new_user_registration_path, class: "btn-navbar"%>

    <%= link_to "Sign Up", new_user_registration_path, class: "btn-navbar"%>

    <%= link_to "Login", new_user_session_path, class: "btn-navbar"%>
      <% else %>

      <%= link_to "List Your Venue", new_venue_path, class: "btn-red"%>

      <% if current_user.profile %>

      <%= link_to "Go to Profile", profile_path, class: "btn-navbar" %>
      <% else %>
      <%= link_to "Create Profile", new_profile_path, class: "btn-navbar" %>
     <% end %>


      <%= link_to destroy_user_session_path, method: :delete do %>

        <p class="btn-navbar", style="text-decoration: none"> <%= t(".sign_out", default: "Log out") %></p>
      <% end %>
    <% end %>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.homejournal.hk/wp-content/uploads/2016/03/Issaya-Bar.jpg');">

  <div class="banner-content">
    <h1>Find the perfect location for your</h1>
    <h1 class="typewrite" data-period="2000" data-type='[ "wedding.", "dinner.", "meeting.", "photoshoot.", "workshop.", "birthday." ]'>
      <span class="wrap"></span>
    </h1>
    <br>
    <div class="home-form" >
      <form action="#">
        <input type="text" name="Location" placeholder="City, Country" style = "border: 1px grey; padding: 7px 20px;">
        <input type="text" name="Category" placeholder ="What are you planning?" style = "border: 1px grey; padding: 7px 20px;">
        <input type="submit" value="Search" style="background-color: #DE1A1A; border: 1px #DE1A1A; color: #CECECE; padding: 7px 7px; width: 100px;">
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <h1> Type of Event</h1>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.serplogic.com/wp-content/uploads/2016/04/ibiza-marketing.jpg');">
        <div class="card-description">
          <h2>Parties</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://wwcdn.weddingwire.com/assets/category-landings/inspiration_tiles/11/rustic-california-garden-wedding-685c40d3962159d56df7f1863a683530f88412e5ea3e3b30b83eeaacccd34067.jpg');">
        <div class="card-description">
          <h2>Weddings</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://planetdepos.com/wp-content/uploads/2016/06/Business-Meeting-V2-1024x796.jpg');">
        <div class="card-description">
          <h2>Business Conferences</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.ytimg.com/vi/pmdAufSKx-8/maxresdefault.jpg');">
        <div class="card-description">
          <h2>Photoshoots</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.platux.de/wp-content/uploads/2013/03/Modern-ART-PLATUX-Photography-Arist-Gallery-Dubai-Düsseldorf-London-Miami.jpg');">
        <div class="card-description">
          <h2>Exhibitions</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.domainedefontenille.com/image/images_site/33/le-champ-des-lunes-restaurant-gastronomique-au-coeur-du-luberon-fond-background.jpg');">
        <div class="card-description">
          <h2>Dinners</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://a.abcnews.com/images/Entertainment/HT-dierks-bentley-jef-170508_4x3_992.jpg');">
        <div class="card-description">
          <h2> Concerts </h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.printwand.com/blog/media/2011/11/Product-Launch-Event-e1323291603303.jpg');">
        <div class="card-description">
          <h2>Launch Events</h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.iisks.com/wp-content/uploads/2016/08/How-to-get-the-most-out-of-conferences.jpg');">
        <div class="card-description">
          <h2> Conferences </h2>
        </div>
        <a class="card-link" href="/venues" ></a>
      </div>
    </div>
  </div>
</div>







