<form action="/venues" method="get">

    <table style='width:100%; margin-left: 20px; margin-right: -10px'>
      <tr>
        <th rowspan="2" style="width: 20%; font-size: 12px">
          <input class="filterdropdown" type="dropdown" name="city" min="0" value="<%= @city %>" placeholder="<%= @city %>" style= "margin-bottom: 20px">
        </th>
        <th rowspan="2" style="width: 20%; font-size: 12px">
          <input class="filterdropdown" type="dropdown" name="categories" min="0" value="<%= @categ %>" placeholder="<%= @categ %>" style= "margin-bottom: 20px">
        <div><th style="width: 20%; font-size: 12px">Capacity</th></div>
        <div><th style="width: 20%; font-size: 12px">Max Price per hour</th></div>
      </tr>

      <tr style="padding: 100px">

        <td>
          <div class="d-flex">
            <output name="capacityOutputName" id="capacityOutputId"><%= @capacity || 1 %></output>
            <input type="range" name="capacity" id="capacityInputId" value="<%= @capacity || 1 %>" min="1" max="500" oninput="capacityOutputId.value = capacityInputId.value">
          </div>
        </td>

        <td>
          <input type="range" name="price" id="priceInputId" value="<%= @price || 500 %>" min="1" max="500" oninput="priceOutputId.value = priceInputId.value">
          <output name="priceOutputName" id="priceOutputId"><%= @price || 500 %></output>
        </td>
        <td>
            <input type="submit" value="Submit" class="btn-normal">
        </td>

      </tr>
    </table>

</form>




