
<%= simple_form_for(@venue) do |f| %>
<div class="venue-form ">

  <%= f.input :name %>

  <%= f.input :capacity %>

  <%= f.input :location %>

  <%= f.input :description %>

  <%= f.input :categories, collection: Venue::CATEGORIES, as: :check_boxes, class: 'checkboxes-venue' %>

  <br>
  <%= f.input :amenities, collection: Venue::AMENITIES, as: :check_boxes, class: 'checkboxes-venue' %>

  <%= f.input :photos, as: :attachinary %>

  <%#= f.input :photo_cache, as: :hidden %>

  <%= f.input :price %>

  <%= f.submit class: "btn-red" %>


<% end %>

</div>

