
<%= simple_form_for(@venue) do |f| %>
<div class="venue-form ">

  <%= f.input :name %>

  <%= f.input :capacity %>

  <%= f.input :location %>

  <%= f.input :description %>

  <%= f.input :category %>

  <%= f.input :photo, as: :attachinary %>

  <%#= f.input :photo_cache, as: :hidden %>

  <%= f.input :price %>

  <%= f.submit class: "btn-red" %>
<% end %>

</div>

