<div class="venue-form ">
<%= simple_form_for(@venue) do |f| %>

  <%= f.input :name %>

  <%= f.input :capacity %>

  <%= f.input :location, label: "Address"%>

  <%= f.input :city %>

  <%= f.input :description %>

  <br>


  <div class="form-group check_boxes required venue_categories">
    <label class="control-label check_boxes required"><abbr title="required">*</abbr> Categories</label>
    <input type="hidden" name="venue[categories][]" value="">
    <div class="row">
    <% Venue::CATEGORIES.each do |venue| %>
    <div class="col-sm-6">
      <div class="checkbox checkbox_list">
        <div class="label_venue">
          <label for="venue_categories_wedding">
            <%= venue %>
          </label>
        </div>
        <div class="input_venue">
          <input class="check_boxes required" type="checkbox" value="<%= venue %>" name="venue[categories][]" id="venue_categories_wedding"> </input>
        </div>

      </div>
    </div>
    <% end %>
    </div>
  </div>

  <br>

    <div class="form-group check_boxes required venue_categories">
    <label class="control-label check_boxes required"><abbr title="required">*</abbr> Amenities</label>
    <input type="hidden" name="venue[amenities][]" value="">
    <div class="row">
    <% Venue::AMENITIES.each do |venue| %>
    <div class="col-sm-6">
      <div class="checkbox checkbox_list">
        <div class="label_venue">
          <label for="venue_categories_wedding">
            <%= venue %>
          </label>
        </div>
        <div class="input_venue">
          <input class="check_boxes required" type="checkbox" value="<%= venue %>" name="venue[amenities][]" id="venue_categories_wedding"> </input>
        </div>

      </div>
    </div>
    <% end %>
    </div>
  </div>

  <br>

  <%= f.input :photos, as: :attachinary%>

  <%#= f.input :photo_cache, as: :hidden %>

  <%= f.input :price %>

  <%= f.submit class: "btn-red", style: "background: #DE1A1A"  %>

<% end %>
</div>

