<div class="container">
  <h1>
    Available Venues
  </h1>
  <br>

  <div class="row" >
    <% @venues.each do |venue| %>
    <div class="col-sm-4" >
      <div class="card_2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path venue.photo.path if venue.photo %>')">

      <div class="card-category-2">
        <%= venue.location %>
      </div>
      <div class="card-description-2">
        <%= venue.price %> €/h
      </div>
      <div class="card-description-2">
       <h1>
         <%= venue.name %>
       </h1>
      </div>
       <div class="card-description-title" style="background-color: white">
        <%= venue.description %>
        <br>

        <div style="text-align: center; padding-top: 10px;">
        <%= link_to "View Venue", venue_path(venue), class: "btn-normal" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>



