<div class="container">
<h1> Available Venues </h1>
<br>
  <div class="row">
    <% @venues.each do |venue| %>


    <div class="col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path venue.photo.path if venue.photo %>')">
          <div class="card-category"> <%= venue.location %> </div>
            <div class="card-description"> <%= venue.price %> €/h </div>
             <div class="card-description"> <h1><%= venue.name %></h1></div>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
            <br>
            <br>
            <%= link_to "Edit a Venue", edit_venue_path(venue) %>
        <%= link_to 'Show this location', venue_path(venue) %>
      </div>

    </div>

    <% end %>
  </div>
</div>







