<% content_for :title, "Venues" %>


<br>
<div class="cards_wrapper">
  <div class="filter-bar">
  <%= render 'filter' %>
  </div>
  <div class="cards_list">
    <div style="margin-top: 50px;">
      <div class="row">
        <% @venues_with_coordinates.each do |venue| %>
        <div class="col-sm-6 card_padding" >
          <div class="card_2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path venue.photos.first.path if venue.photos.first %>')">
          <div class="card-city">
            <%= venue.city %>
          </div>
          <div class="card-price" style= "font-family: Helvetica Neue; font-size: 20px;">
            <%= venue.price.to_i %>€ per hour
          </div>
          <div class="card-name" style="text-align: left">
            <h1>
              <%= venue.name %>
            </h1>
          </div>
          <div class="card-description" >
            <div style="color: gray; margin-top: 88px; margin-left: -10px; font-size: 15px; font-family: Helvetica Neue;">
            <i class="fa fa-users" aria-hidden="true"></i> <%=venue.capacity%>
            </div>
              <div>
                <%= simple_form_for(@bookmark, url: bookmarks_path, html: {method: :post}) do |f| %>
                <%= f.hidden_field :venue_id, value: venue.id %>
                <button class="btn btn-success" style="position: relative; margin-left: 262px; margin-top: 5px" type='submit'>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
                <% end %>
              </div>
          </div>
          <br>
          <a> <%= link_to venue.name, venue_path(venue), class: "card-link-2" %></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  </div>
  <div id="map" ><div>
<!-- <div style="position: fixed; top:0">
-->
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({
provider: {},
internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

