
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "HelveticaNeue-Light"}
.mySlides {display:none}
</style>
<div class="w3-content w3-border-left w3-border-right">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-light-grey w3-collapse" style="z-index:3;width:260px" id="mySidebar">



  <div class="w3-container" id="apartment">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <hr>
    <h3>Book this location</h3>
    <h3>for <%= @venue.price %> € <br></h3>
    <h6>per hour</h6>
    <hr>


      <%=simple_form_for @booking,:url => venue_bookings_path(:venue_id => params[:id], :method => :post) do |f| %>
      <br>
      <p><label><i class="fa fa-calendar-check-o"></i> Start Date</label></p>
      <%= f.input :start_date, as: :string, input_html: {class: 'form_datetime'} %>
      <br>

      <br>
      <p><label><i class="fa fa-calendar-check-o"></i> End Date</label></p>
      <%= f.input :end_date, as: :string, input_html: {class: 'form_datetime'} %>
      <br>

      <%= f.submit class: "btn-red w3-block" %>
      <% end %>


      <%= simple_form_for(@bookmark, url: bookmarks_path, html: {method: :post}) do |f| %>
        <%= f.hidden_field :venue_id, value: @venue.id %>
        <div class="btn-red w3-block">
          <%= f.submit "Add to your Wishlist" %>
        </div>
      <% end %>
      <br><%= link_to 'Back to all Venues', venues_path, class: "btn-normal w3-block" %>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item">Rental</span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:260px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>

  <!-- Slideshow Header -->
  <hr>
  <hr>
  <hr>
  <hr>
    <div class="w3-display-container">
    <h2><%= @venue.name %></h2>

    <img style="width: 1000px margin-bottom:-6px">
    <% unless @venue.photos.empty? %>
      <%= cl_image_tag @venue.photos.first.path, width: 719%>
    <% end %>
    </img>
      <div class="w3-display-bottomleft w3-container" style="background-color: #DE1A1A; opacity: 0.9; color: white; width: 500px">
      </div>
    </div>
    <br>

    <% @venue.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>

  <div class="w3-container">
    <h4><strong>Availability</strong></h4>
    <div class="w3-row w3-large">
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-male"></i> Max Capacity: <%= @venue.capacity %></p>
        <p><i class="fa fa-fw fa-home"></i> Size: 2</p>
      </div>
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-clock-o"></i> Available Days: </p>
        <p><i class="fa fa-fw fa-clock-o"></i> Available Time: </p>
      </div>
    </div>
    <hr>

    <h4><strong>The following Amenities are available at the location:</strong></h4>
    <div class="w3-row w3-large">
      <div class="w3-col s6">
      <% @new_array_amenities.each do |amenity| %>
        <p><i class="fa fa-dot-circle-o"></i> <%= amenity %></p>
      <% end %>
        <!-- <p><i class="fa fa-circle"></i> WiFi</p>
        <p><i class="fa fa-fw fa-tv"></i> TV</p>
      </div>
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
        <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
      </div> -->
    </div>
    </div>
    <p>Please contact the host to ask for additional amenities.</p>
    <hr>

    <h4><strong>This event is perfect for a...</strong></h4>
    <div class="w3-row w3-large">
      <div class="w3-col s6">
      <% @new_array_categories.each do |category| %>
        <p><i class="fa fa-dot-circle-o"></i> <%= category %></p>
      <% end %>

<!--         <p><i class="fa fa-circle"></i> Wedding </p>
 -->      </div>
     <!--  <div class="w3-col s6">
        <p><i class="fa fa-circle"></i> Birthday </p>
        <p><i class="fa fa-circle"></i> Get-Together</p>
      </div> -->
    </div>
    <hr>


    <h4><strong>Description</strong></h4>
    <p><%= @venue.description %></p>

    <hr>



    <h4><strong>Location: <%= @venue.location %></strong></h4>

      <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {

            var handler = Gmaps.build('Google');
            handler.buildMap({
            provider: {},
            internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
      <hr>

    <h4><strong>Reviews <br> Average Rating: <%= @average_rating.to_f %> of 5 </strong></h4>
      <% @venue_reviews.each do |review| %>
      <li><%= review.review_rating %>/5 stars -  <%= review.user.profile.first_name %>s Review: <%= review.review_text %> </li>
      <% end %>

  </div>

<br>
  <!-- Contact -->
  <div class="w3-container" id="contact">
    <h4><strong>Contact</strong></h4>
    <p>Do you have any questions or concerns? <br>Please text the host here:</p><br>
    <%= simple_form_for(@message, url: conversations_path, html: {method: :post}) do |f| %>
      <%= f.input :content, class: "w3-input w3-border" %>
      <%= f.hidden_field :venue_id, value: @venue.id %>
      <%= f.submit "send", class: "btn-red" %>
    <% end %>
  </div>


<!-- End page content -->
</div>



</body>









