<h1><%= @venue.name %></h1>

<%= cl_image_tag @venue.photo.path if @venue.photo %>

<p>Location:<%= @venue.location %></p>
<p>Max. amount of people<%= @venue.capacity %></p>
<p>Price: <%= @venue.price %> per hour</p>
<p><%= @venue.description %></p>


<%= link_to "Book this place", new_venue_booking_path(@venue), class: "btn-red" %>
<%= link_to 'Go Back to all Venues', venues_path, class: "btn-red" %>

