<div class="modal fade" id="new_review_modal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="new_review_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="login_form">
        <h1 style = "font-size: 30px; font-family: HelveticaNeue-Light" >Add a Review </h1>
        <h2 style="font-size: 15px; font-family: HelveticaNeue-Light"> for <%= booking.venue.name %> in <%= booking.venue.location %> </h2>
        <hr style= "border-top: 0.5px solid lightgrey; margin-right: 10px; margin-left: 10px;"/>



        <%= simple_form_for [current_user.profile, booking, review] do |f| %>
        <div class="venue-form ">

          <p style="font-size: 20px"> Review </p>
          <%= f.input :review_text, label: false %>

          <p style="font-size: 20px">Rating</p>
          <%= f.input :review_rating, label: false, style: "border-radius: 50px; background: rgba(225, 225, 225, 0.3);", collection: [1, 2, 3, 4, 5] %>

          <%= f.submit class: "btn-red", style: "background: #DE1A1A"  %>


        </div>


        <% end %>

      </div>
    </div>
  </div>
</div>
