<hr>
<h1>Add a review for <%= @booking.venue.name %> in <%= @booking.venue.location %></h1>

<%= simple_form_for [current_user.profile, @booking, @review] do |f| %>
  <div class="venue-form ">

  <%= f.input :review_text %>

  <%= f.input :review_rating, collection: [1, 2, 3, 4, 5] %>

  <%= f.submit class: "btn-red" %>

  </div>


<% end %>

